<header class="main-header">
  <div class="header-content">
    <h1 class="app-title">Bloc-Notes</h1>
    <nav class="main-nav">
      <a class="nav-link" routerLink="" routerLinkActive="active">Accueil</a>
      <a class="nav-link" routerLink="/tags" routerLinkActive="active">Tags</a>
      <a class="nav-link" routerLink="/notes" routerLinkActive="active">Notes</a>
    </nav>
  </div>
</header>

<main class="main-content">
  <router-outlet>
  </router-outlet>
</main>

<footer class="main-footer">
  <p>La plus belle des applications</p>
</footer>
